@{ 
    ViewBag.Title = "Home Page";
}
<h2>Home Page</h2>
<p>Welcome to ClubMates</p>
<a href="/Student/Index">Student</a>
<a href="/Department/Index">Department</a>
<a href="/Teacher/Index">Teacher</a>


