<div class="container mt-4">
    <h1 class="mb-4">DashBoard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">Add or Modify User here</p>
                    <a asp-controller="Admin" asp-action="ManageUsers" class="btn btn-primary">Go to Manage Users</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Manage Clubs</h5>
                    <p class="card-text">Add or Modify User here</p>
                    <a asp-controller="Admin" asp-action="ManageUsers" class="btn btn-primary">Go to Manage Clubs</a>
                </div>
            </div>
        </div>
    </div>
</div>